In [41]:
# load lib

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline') # necessario para plotar as imagens no jupyter

In [42]:
# load dataset from uci : https://archive.ics.uci.edu/dataset/267/banknote+authentication
# Dados de imagem de uma camera industrial, que fornece variancia, skewness (inclinação), curtosis entropy e classe True or False

df1 = pd.read_csv(os.path.join(os.path.expanduser("~"), "Documents", "decision_tree", "decision_tree", "data_banknote_authentication.txt"), names=['Variance', 'Skewness', 'Curtosis', 'Entropy', 'Class'])

In [43]:
# 1372 rows, 5 colums
df1.shape

(1372, 5)

In [44]:
#
df1.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [49]:
# Show statics of the dataframe
df1.describe()

          Variance     Skewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [ ]:
# Separe as variaveis (dependentes X) e variaveis (independentes Y)

x1 = df1.drop(['Class'], axis=1) # x1 recebe dados do dataframe x1 excluindo a coluna class
y1 = df1["Class"] # y1 recebe os dados de df1 da coluna Class

In [57]:
# importing sklearn
# Separating the data between training and testing. Using the train_test_split function 
# Passing the X and Y parameters and 0.3 will be for testing and 0.7 for training. That's convention

from sklearn.model_selection import train_test_split

x_train1, x_test1, y_train1, y_test1 = train_test_split(x1, y1, test_size = 0.30)

In [61]:
# import sklearn DecisionTreeClassifier and create a object

from sklearn.tree import DecisionTreeClassifier

modelo_tree = DecisionTreeClassifier

modelo_tree.fit(x_train1, y_train1) # esta linha que treina o modelo !!!! metodo fit

TypeError: DecisionTreeClassifier.fit() missing 1 required positional argument: 'y'